@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #333; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    box-shadow: 0.5rem 0.5rem 20px 5px rgba(10, 3, 137, 0.663);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(255, 255, 185);
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%232c038a' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 700;
    text-align: center;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    color: rgba(0, 0, 0, 0.781);
    border-radius: 15px;
    background-color: rgba(255, 255, 185,0.7);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.681);   
    text-shadow: 0.1rem 0.1rem 20px rgba(11, 11, 152, 0.781); 
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left,.fa-quote-right {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.781);
}

.quote-author { 
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

.button-container {

    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.781);
    outline: none;
    padding: 0.5rem 1.8rem ;
    box-shadow: -0.3rem 0.3rem 20px 1px rgba(11, 11, 152, 0.781);
}

button:hover {
    filter: brightness(150%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow:0 0.1rem rgba(255, 255, 185,0.7);
}

.twitter-button:hover {
     color: #38a1f3;  
}
.fa-twitter{
    font-size: 1.5rem;
}
/* Media Query: Tablet or smaller*/

@media screen and (max-width: 900px){
    .quote-container{
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.25rem;
    }
}

